<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/CoupleTouriste.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-primary opacity-6"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12" [hidden]="!authenticated()">
          <h1 class="display-2 text-white">Bonjour {{utilisateur.prenom}}</h1>
          <p class="text-white mt-0 mb-6">Ici, vous pouvez consulter les informations sur votre profil</p>
        </div>
        <div class="col-lg-12 col-md-12" [hidden]="authenticated()">
          <h1 class="display-2 text-white">Bienvenue Voyageur,</h1>
          <p class="text-white mt-0 mb-6">Cette fonctionalité nécessite votre <a href="#/login">connection</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7"  [hidden]="!authenticated()">
    <div class="row">
      <div class="col-xl-12 order-xl-2 mb-10 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                  <img src="data:image/jpeg;base64,{{utilisateur.imageProfil}}" height="120" width="120" class="rounded-circle">
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">{{nbGuides}}</span>
                    <span class="description">Guides</span>
                  </div>
                  <div>
                    <span class="heading">{{nbExperiences}}</span>
                    <span class="description">Experiences</span>
                  </div>
                  <div>
                    <span class="heading">{{nbNewsletter}}</span>
                    <span class="description">Newsletter</span>
                  </div>
                  <div>
                    <span class="heading">{{nbAvis}}</span>
                    <span class="description">Avis</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{utilisateur.prenom}} {{utilisateur.nom}}<span class="font-weight-light"></span>
              </h3>
              <div>
                E-mail : {{utilisateur.email}}<br><br>
              </div>
              <div class="row">
                <div class="col-lg-3 mb-5 mb-xl-0"> </div>
              <div class="col-lg-6 mb-5 mb-xl-0">
                <div class="card shadow">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr><th>Roles</th><th></th></tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let r of utilisateur.roles">
                          <td></td>
                          <td>{{r.libelle}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <i class="ni ni-check-bold" [hidden]="!isAbonneNewsletter()"></i>
                <i class="ni ni-fat-remove" [hidden]="isAbonneNewsletter()"></i>Newsletter
              </div>
              </div>
              <div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Username</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">First name</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Lucky">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Last name</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">City</label>
                      <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Country</label>
                      <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code</label>
                      <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">About me</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>-->
    </div>
  </div>