<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/EvasionExperience.jpg); background-size: cover; background-position: center top;">

  <div class="text">
    <h1 style="color: rgb(255, 255, 255);">A court d'idées à l'approche de l'été ? </h1>
    <h3 style="color: rgb(255, 255, 255);"><span>Consultez les formidables expériences des voyageurs et vous trouverez votre prochaine destination de rêve !</span></h3>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

  <div class="container">
    <div class="card bg-secondary shadow" style="background-image: url(assets/img/theme/Afrique.jpg); background-size: cover; background-position: center top;">
      <ul>

        <li> 
          <div id="Carreblanc" class="card-header bg-white border-0" style="background-image: url(assets/img/theme/Marakech.jpg); background-size: cover; ">
            <span>
            <strong>L'afrique'</strong>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.   </p>
          </span>
          </div>
        </li>
        
        <li> 
          <div id="Carreblanc" class="card-header bg-white border-0" style="background-image: url(assets/img/theme/Amerique.jpg); background-size: cover; ">
          <span>
            <strong>La France</strong>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.   </p>
          </span>
          </div>
        </li>

        <li> 
          <img src="https://cdn.worldvectorlogo.com/logos/ethos.svg" alt="">
          <span>
            <strong>L'Afrique</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.   </p>
          </span>
        </li>
      </ul>
    </div>
  </div>


