<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avis</title>
</head>
<body class="body-avis" style="background-position: center 110px; background-color: rgb(240, 240, 240) !important">
    <div id="en-tete-avis">
        
    </div>
    <div class="avis-container">
        <div class="top-experiences">
            <form class="form">
                <fieldset class="fieldset">
                    <legend class="text-top-experiences" style="text-align: center; color: black;">Les éxpériences les mieux notés</legend>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label>experience 1</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>experience 2</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>experience 3</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
