/*.title-avis {
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.notations {
    height: 50vw;
    width: 50vw;
    margin-left: 20vw;
}*/

.en-tete-avis
{
    width:600px;
	height:50px;
}

.top-experiences
{
    position: relative;
    width: auto;
    height: auto;
}

.form 
{
    display: block;
    position: absolute;
    margin-top: 0em;
    padding-right: 0em;
    padding-left: 450px;
}

.fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: cornflowerblue;
    border-image: initial;
}