<!--<div class="container-fluid red">
    <div class="top-experiences">
        <form class="form">
            <fieldset class="fieldset">
                <legend class="text-top-experiences" style="text-align: center; color: black;">Les éxpériences les mieux notés</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label>experience 1</label>
                            </td>
                            <td>
                                <label>experience 2</label>
                            </td>
                            <td>
                                <label>experience 3</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
</div>-->

<div class="container-fluid head"></div>
<div class="titre-page"><h1 class="col-6" style="text-align: center;">Avis des voyageurs</h1></div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <form class="container-fluid form">
                <fieldset class="fieldset">
                    <legend class="text-top-experiences" style="text-align: center; color: rgb(0, 0, 0); font-family: Benton Sans thi;">Les éxpériences les mieux notés</legend>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="col-md-4 col-lg-4 col-xl-4 content">
                                        <a href=""><img id="image" src="assets/img/theme/savane.jpg" alt="la savane"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-4 col-lg-4 col-xl-4 content">
                                        <a href=""><img id="image" src="assets/img/theme/hunan.jpg" alt="hunan"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-4 col-lg-4 col-xl-4 content">
                                        <a href=""><img id="image" src="assets/img/theme/velo.jpg" alt="velo amsterdam"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-4 col-lg-4 col-xl-4 content">
                                        <a href=""><img id="image" src="assets/img/theme/kayak.jpg" alt="kayak niagara"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-4 col-lg-4 col-xl-4 content">
                                        <a href=""><img id="image" src="assets/img/theme/fuji.jpg" alt="le magnifique mont fuji"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-4 col-lg-4 col-xl-4 content">
                                        <a href=""><img id="image" src="assets/img/theme/lavande.jpg" alt="lavande de montelimar"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>