
 <div class="card-body" style="height: 100px;">
    <h2>Nom du Pays</h2>
</div>
    <div class="card-body" style="height: 100px;"></div>
    <h2> Informations Pratiques</h2>
    </div>
   <hr class="my-4" /> 
    <!-- Amérique -->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center"><a href="#/Amerique">Amérique</a></h3>
      </div>
     <hr class="my-4" /> 
    <!--Asie-->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center"><a href="#/Asie">Asie</a></h3>
      </div>
     <hr class="my-4" /> 
    <!--Australie-->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center"><a href="#/Australie">Australie</a></h3>
      </div>
     <hr class="my-4" /> 
    <!--Europe-->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center"><a href="#/Europe">Europe</a></h3>
      </div>
     <hr class="my-4" /> 

<!-- <div id="Header">
    <h1>Liste des pays</h1>
</div>
<div id="Container">
    <table>
    <tbody>
        <tr *ngFor="let p of paysS">
            <td>{{p.nomPays}}</td>
        </tr>
    </tbody>
    </table>
</div>  -->
<!--
    <table>
    <thead>
<tr>
    <th>id</th>
    <th>nom Pays</th>
    <th>nb habitant</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let p of paysS">
        <td>{{p.idPays}}</td>
        <td>{{p.nomPays}}</td>
        <td>{{p.nbHabitant}}</td>
    </tr>
</tbody>
</table>
-->