<div class="card-body" style="height: 100px;">
    <h2 style="color:aliceblue">{{pays.nomPays}}</h2>
 </div>
<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
    <div class="card-body" style="height: 200px;">
    <h3 style="text-align: center;"> Informations Pratiques</h3>
    <br><br>
   <div id="une"> Langues parlées : {{pays.langue}} <br> <br>Securité : {{pays.securite}}<br><br> </div>
   <div id="deux"> Besoin d'un visa ? : {{pays.visa}} <br><br> Sens de conduite : {{pays.conduiteSens}}</div>
        <div id="trois"> Numéros utiles : {{pays.numeroUtile}}
            <ul>
            <li>Police : </li>
            <li>Pompiers : </li>
         </ul> </div>
    </div>
   <hr class="my-4" /> 
    <!-- Amérique -->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center">Les villes</h3>
      <ul>
          <li *ngFor="let v of pays.villes"><a (click)="redirectionVille(v)" href="/#Villes">{{v.nomVille}}</a></li>
      </ul>
      </div>
     <hr class="my-4" /> 
    <!--Asie-->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center">Découvrez le récit des différents voyageurs en lisant leurs expériences</h3>
      <br>
      <div id="Bouton" style="text-align: center;"><a href="#/Experience" class="btn btn-sm btn-default" style="width: 100px;height: 30px;">Je découvre</a></div>
      </div>
     <hr class="my-4" /> 
    <!--Australie-->
    <div class="card-body" style="height: 120px;">
      <h3 style="text-align: center">Envie d'en savoir plus sur votre future destination ?<br>
        Retrouvez nos guides juste en dessous</h3>
    <div id="Bouton" style="text-align: center;"><a href="#/Guide" class="btn btn-sm btn-default" style="width: 100px;height: 30px;">Je découvre</a></div>
      </div>
     <hr class="my-4" /> 
    <!--Europe-->
    <div class="card-body" style="height: 80px;">
      <h3 style="text-align: center">Psssiit le meilleur des voyages dans votre boite mail c'est juste<a href="/#"> ici</a></h3>
      </div>
     <hr class="my-4" /> 
     </div>
     </div>
     </div>

<!-- <div id="Header">
    <h1>Liste des pays</h1>
</div>
<div id="Container">
    <table>
    <tbody>
        <tr *ngFor="let p of paysS">
            <td>{{p.nomPays}}</td>
        </tr>
    </tbody>
    </table>
</div>  -->
<!--
    <table>
    <thead>
<tr>
    <th>id</th>
    <th>nom Pays</th>
    <th>nb habitant</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let p of paysS">
        <td>{{p.idPays}}</td>
        <td>{{p.nomPays}}</td>
        <td>{{p.nbHabitant}}</td>
    </tr>
</tbody>
</table>
-->