#une {
position :absolute;
width: 30%;
left: 350px;
    

}
#deux {
position :absolute;
width: 30%;
left : 850px;
}

#trois {
position :absolute;
width: 30%;
left : 1350px;
}

#bouton {
 position:absolute;
}