<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/fuji.jpg); background-size: cover; background-position: center top;">
    <div class="text">
      <p style="color: rgba(255, 255, 255,1);font-size:2cm;">Asie<p>
    </div>
</div>

  <a href="#/ExpAsieConsultation">
  <div class="div1">
    <div class="btn">
      <div><span></span>
        <h1 style="text-align: center; color: rgb(255, 255, 255, 1)">Découvrir</h1>
        <h3 style="text-align: center; color: rgb(255, 255, 255, 1)"><span>Je consulte les expériences dédiées à l'Asie </span></h3>
        <div class="btn__bg"></div>
      </div>
    </div>
  </div>
  </a>

  <a href="#/ExpPartage">
  <div class="div2">
    <div class="btn">
      <div><span></span>
        <h1 style="text-align: center; color: rgb(255, 255, 255, 1)">À moi de jouer !</h1>
        <h3 style="text-align: center; color: rgb(255, 255, 255, 1)"><span>Partagez mes expériences pour les autres voyageurs</span></h3>
        <div class="btn__bg"></div>
      </div>
    </div>
  </div>
  </a>

<div id="maman" class="col-xl-35 order-xl-1" style="width: 100%;position: center;">
<div class="div-fille">
<span></span><p style="font-size:1cm;color: aliceblue;">Laissez vous tenter</p>
</div>
</div>
