<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <p class="text-lead text-light">Créer un nouveau pays</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Remplir les champs suivants</small>
            </div>
            <form role="form" (submit)="savePays()">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-world-2"></i></span>
                  </div>
                  <input class="form-control" placeholder="continent" type="text" name="continent" [(ngModel)]="pays.nomContinent">
                  <input class="form-control" placeholder="nom" type="text"name="nom" [(ngModel)]="pays.nomPays">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-notification-70"></i></span>
                  </div>
                  <input class="form-control" placeholder="langue" type="text" name="langue" [(ngModel)]="pays.langue">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="securité" type="text" name="securite" [(ngModel)]="pays.securite">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  <input class="form-control" placeholder="visa" type="text" name="visa" [(ngModel)]="pays.visa">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-support-16"></i></span>
                  </div>
                  <input class="form-control" placeholder="numero utiles" type="text" name="numeroU" [(ngModel)]="pays.numeroUtile">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                  </div>
                  <input class="form-control" placeholder="surface" type="number" name="surface" [(ngModel)]="pays.surface">
                </div>
              </div>
              <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox" name="sensConduite" [(ngModel)]="pays.conduiteSens">
                    <label class="custom-control-label" for="customCheckRegister">
                      <span class="text-muted">Conduite à droite</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" >Créer un pays</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  