#rUne {
    position:absolute;
    left: 450px;
    width: 20%;
}
#rDeux{
    position:absolute;
    left: 1250px;
    width : 40%;
}


#hUne{
    position:absolute;
    left: 350px;
    width: 30%;
}
#hDeux{
    position:absolute;
    left: 900px;
    width: 30%;
}
#hTrois{
    position:absolute;
    left: 1350px;
    width: 30%;
}


#moUne{
    position: absolute;
    width: 15%;
    left: 350px;
}
#moDeux{
    position:absolute;
    left: 850px;
    width : 40%;
}  

#text{
position: relative;
left : 30%;
}


#muUne {
    position:absolute;
    left: 250px;
    width: 20%;
}
#muDeux {
    position:absolute;
    left: 650px;
    width: 20%;  
}
#muTrois{
    position:absolute;
    left: 950px;
    width: 20%; 
}
#muQuatre {
    position:absolute;
    left: 1350px;
    width: 20%;
}



#r2Une {
    position:absolute;
    left: 350px;
    width: 30%;
}
#r2Deux {
    position:absolute;
    left: px;
    width: 30%;
}
#r2Trois {
    position:absolute;
    left: 1350px;
    width: 30%;
}



#h2Une{
    position:absolute;
    left: 450px;
    width: 30%;
}
#h2Deux{
    position:absolute;
    left: 1250px;
    width : 30%;
}


#mo2Une {
    position:absolute;
    left: 350px;
    width: 30%;
}
#mo2Deux {
    position:absolute;
    left: 900px;
    width: 30%;  
}
#mo2Trois{
    position:absolute;
    left: 1400px;
    width: 30%;
}


#mu2Une {
    position:absolute;
    left: 250px;
    width: 20%;   
}
#mu2Deux {
    position:absolute;
    left: 650px;
    width: 20%;   
}
#mu2Trois {
    position:absolute;
    left: 1050px;
    width: 20%;   
}
#mu2Quatre {
    position:absolute;
    left: 1450px;
    width: 20%; 
}