<!--<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/Restaurant.jpg); background-size: cover; background-position: center top;"> 
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/Hotel.jpg); background-size: cover; background-position: center top;"> -->
    div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/Hotel.jpg); background-size: cover; background-position: center top;">
    div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/Hotel.jpg); background-size: cover; background-position: center top;">
    <h1 id="text" style="color:rgb(18, 18, 109);">Nom Lieu</h1>
 </div>
<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
           <!-- Info pratiques  -->
         <!--  <div id="restaurant">
    <div class="card-body" style="height: 200px;">
    <h3 style="text-align: center;"> Informations générales</h3>
    <br>
        <div id="rUne"> Nombre d'étoiles : <br> <br>Spécilialité: <br><br>moyenne des avis :  </div>
        <div id="rDeux">  Carte :<br> <br> </div> </div> </div> 

       <div id="hotel">
    <div class="card-body" style="height: 110px;">
    <h3 style="text-align: center;"> Informations générales</h3>
    <br>
        <div id="hUne">Nombre d'étoiles : </div>
        <div id="hDeux">Prix d'une nuit : </div>
        <div id="hTrois"> Propreté : </div></div></div> 

       <div id="monument">
    <div class="card-body" style="height: 120px;">
    <h3 style="text-align: center;"> Informations générales</h3>
    <br>
        <div id="moUne"> Date de construction :  </div>
        <div id="moDeux"> Description :  <input type="text"><br> </div> </div></div> -->

       <div id="musee">
    <div class="card-body" style="height: 110px;">
    <h3 style="text-align: center;"> Informations générales</h3>
        <br>
        <div id="muUne"> Prix de l'entrée :  </div>
        <div id="muDeux">  Style :  </div> 
        <div id="muTrois"> Moyenne des avis : </div> 
        <div id="muQuatre"> Nombre de visiteurs: </div></div></div> 
   <hr class="my-4" /> 
    <!-- Informations pratiques -->
        <div id="resto2" > 
    <div class="card-body" style="height: 120px;">
      <h3 style="text-align: center">Informations pratiques</h3>
      <br>
      <div id="r2Une">Ville : </div>
      <div id="r2Deux">Localisation: </div>
      <div id="r2Trois">Accès handicapé : </div></div></div> 

      <!--   <div id="hotel2" > 
    <div class="card-body" style="height: 120px;">
        <h3 style="text-align: center">Informations pratiques</h3>
        <br>
        <div id="h2Une">Ville : </div>
        <div id="h2Deux">Localisation: </div></div></div> 

       <div id="monument2" > 
    <div class="card-body" style="height: 120px;">
        <h3 style="text-align: center">Informations pratiques</h3>
        <br>
        <div id="mo2Une">Ville : </div>
        <div id="mo2Deux">Localisation: </div>
        <div id="mo2Trois">Horaires: </div></div></div> 

       <div id="musee2" > 
    <div class="card-body" style="height: 120px;">
        <h3 style="text-align: center">Informations pratiques</h3>
        <br>
        <div id="mu2Une">Ville : </div>
        <div id="mu2Deux">Localisation: </div>
        <div id="mu2Trois">Accès handicapé : </div>
        <div id="mu2Quatre">Horaires : </div></div></div> -->
    
     <hr class="my-4" />
    <!--Avis-->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center">Les avis</h3>
      <ul>
        <li>avis</li>
      </ul>
      </div>
      </div>
     <hr class="my-4" /> 
