<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 500px; background-image: url(assets/img/theme/savane.jpeg); background-size: cover; background-position: center top;">
<h1 style="text-align: center;color: antiquewhite;">AFRIQUE </h1> 
</div>
<div class="fond" style="background-color: azure; height: 700px; width: 100%">
<div class="col-xl-35 order-xl-1" style="width: 50%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
      <div class="card-body" style="height: 200px;">
        <h3 style="text-align: center"><a href="#/pays">Les pays</a></h3>
        </div>
       <hr class="my-4" /> 
    </div>
       <div class="col-xl-35 order-xl-1" style="width: 50%;">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
        </div>
       <div class="card-body" style="height: 200px;">
        <h3 style="text-align: center"><a href="#/ville">Les villes</a></h3>
        </div>
       <hr class="my-4" /> 
       <div class="col-xl-35 order-xl-1" style="width: 50%;">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
        </div>
       <div class="card-body" style="height: 200px;">
        <h3 style="text-align: center"><a href="#/Lieu">Les Lieux</a></h3>
        </div>
       <hr class="my-4" /> 