/*#premier {
    position: absolute;
    border-left: 100px;
}
//#Carreblanc{
//   position: absolute;
//  border-left: 100px;
//}
#Pays{
position: absolute ;
border-left-color: rgb(13, 31, 192) ;
border-width: 1px ;
width: 30%;


}
#Ville {
position: absolute ;
border-left-color: rgb(13, 31, 192) ;
margin-left: 600px;
//margin-top: 10px;
//margin-bottom: 800px;
width: 30%;


}
#Lieux {
position:absolute;
width: 30%;
margin-left: 1200px; */

#Liste{
    position: relative;
    margin-right: 1500px;
    width: 30%;
    right: 280px;
    top: 100px;
}
#texte {
    position: relative;
    margin-top: 10px;
    width: 20%;
}
