<div class="card-body" style="height: 100px;">
    <h2 style="color:aliceblue">Les meilleurs guides d'Europe</h2>
 </div>
        <div class="carreBlanc" style="width: 100%; background-color: aliceblue; height: 800px;">
          <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Pays</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Type</th>
                    <th scope="col">Le guide</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let guide of guides" [hidden]="!isExpInEurope(guide)">
                      <td>{{guide.pays.nom}}</td>
                      <td>{{guide.titre}}</td>
                      <td>{{guide.type}}</td>
                      <td>{{exp.fichierPdf}}</td>
                 </tr>
                    <th scope="row">
                </tbody>
              </table>
            </div>
          </div>
