<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/CarteDuMonde.jpeg); background-size: cover; background-position: center top;"></div>
<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <!--<div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">My account</h3>
          </div>
          <div class="col-4 text-right">
            <a href="#!" class="btn btn-sm btn-primary">Settings</a>
          </div>
        </div> !-->
        <!--Afrique-->
        
      </div>
      <div class="card-body" style="height: 100px;">
          <h3 style="text-align: center"><a href="pages/Afrique/afrique/afrique.component.html">Afrique</a></h3>
          </div>
         <hr class="my-4" /> 
          <!-- Amérique -->
          <div class="card-body" style="height: 100px;">
            <h3 style="text-align: center"><a href="pages/Amerique/amerique/amerique.component.html">Amérique</a></h3>
            </div>
           <hr class="my-4" /> 
          <!--Asie-->
          <div class="card-body" style="height: 100px;">
            <h3 style="text-align: center"><a href="pages/Asie/asie/asie.component.html">Asie</a></h3>
            </div>
           <hr class="my-4" /> 
          <!--Australie-->
          <div class="card-body" style="height: 100px;">
            <h3 style="text-align: center"><a href="pages/Australie/australie/australie.component.html">Australie</a></h3>
            </div>
           <hr class="my-4" /> 
          <!--Europe-->
          <div class="card-body" style="height: 100px;">
            <h3 style="text-align: center"><a href="pages/Europe/europe/europe.component.html">Europe</a></h3>
            </div>
           <hr class="my-4" /> 
            <!--<div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-city">City</label>
                  <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Country</label>
                  <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Postal code</label>
                  <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                </div>
              </div>
            </div>
          </div> !-->
<!-- <div id="header">
    <p>BestTrip</p>
</div>
<div id="content1">
</div>
<div id="content2">
</div>
<div id="content3">
</div>
<div id="content4">
</div> 
<div id="footer">
    <p>Newsletter</p>
    <p style="text-decoration-color: aqua;">Retrouvez le meilleur de BestTrip une fois par semaine dans votre boite mail!</p>
    <br>
    <input type="button" value="S'abonner" text-center/>
</div> !-->
