/* #header {
    position : relative;
    background-color: rgb(92, 169, 247);
    height: 100px;
    top: 0px;

} */



/* #footer {
	position : relative;
	background-color: rgb(243, 244, 245);
	height: 130px;
	top: 300px;
} */ 

.text {
    position: absolute;
    font-family: Brush Script MT;
    bottom: 425px;
    left: 230px;
  }