  .text {
    position: absolute;
    font-family: Brush Script MT;
    bottom: 425px;
    left: 320px;
  }

  .text2 {
    position: absolute;
    font-family: Brush Script MT;
    color: rgb(255, 255, 255);
  }