<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/EvasionExperience.jpg); background-size: cover; background-position: center top;">
<!--<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-">-->
      
      <div class="text">
        <h1 style="color: rgb(255, 255, 255);">A court d'idées à l'approche de l'été ? </h1>
        <h3 style="color: rgb(255, 255, 255);"><span>Consultez les formidables expériences des voyageurs et vous trouverez votre prochaine destination de rêve !</span></h3>
      </div>
      <!--</div>
    </div>-->
</div>

<br>
  
  <div id="premier" class="col-xl-35 order-xl-1" style="width: 100%;position: center;">
    <div class="card bg-secondary shadow" style="background-image: url(assets/img/theme/Afrique.jpg); background-size: cover; background-position: center top;">
  <div id="Carreblanc" class="card-header bg-white border-0"> 
  <div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-">
        <div><a href="#/dashboard"><span itemprop="title">Accueil</span></a></div>
        <div><h1>Expériences de voyage partagées par d'autres voyageurs</h1><h3><span>Expériences selon le continent</span></h3></div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>

<br>

<div id="premier" class="col-xl-35 order-xl-1" style="width: 100%;position: center;">
  <div class="card bg-secondary shadow" style="background-image: url(assets/img/theme/Afrique.jpg); background-size: cover; background-position: center top;">
    <div id="Carreblanc" class="card-header bg-white border-0" style="background-image: url(assets/img/theme/Marakech.jpg); background-size: cover; background-position: center top;"> 
       <!--<hr class="my-4" style="color: black;" />-->
     <div class="guides" style="text-align:center; color: rgb(18, 18, 109);">
       <h2  style="text-align:center; color: rgb(255, 255, 255);"> L'Afrique </h2>
       <h4  style="text-align:center; color: rgb(255, 255, 255);"> Du Sahara, des pyramides égyptiennes aux sommets volcaniques de Madagascar, les paysages uniques et sauvages racontent leurs histoires. Laissez vous tenter par la visite du berceau de l'humanité. </h4>
       <!--<hr class="my-4" /> -->
     </div>
    </div>
  </div>
</div>

<br>

<div id="premier" class="col-xl-35 order-xl-1" style="width: 100%;position: center;">
  <div class="card bg-secondary shadow" style="background-image: url(assets/img/theme/Afrique.jpg); background-size: cover; background-position: center top;">
    <div id="Carreblanc" class="card-header bg-white border-0" style="background-image: url(assets/img/theme/Niagara.jpg); background-size: cover; background-position: center bottom;"> 
       <!--<hr class="my-4" style="color: black;" />-->
     <div class="guides" style="text-align:center; color: rgb(18, 18, 109);">
       <h2  style="text-align:center; color: rgb(255, 255, 255);"> L'Amérique</h2>
       <h4  style="text-align:center; color: rgb(255, 255, 255);"> Le rêve américain, les déhanchés sur rythmes latinos ou encore les civilisations amérindiennes n'attendent que vous ! Venez découvrir des paysages à la beauté sauvage qui laissent sans voix, des eaux d'un bleu azur, le vertige des sites mayas et incas, l'Amazonie ou encore les plages de sable blanc et les nuits animés. </h4>
       <!--<hr class="my-4" /> -->
     </div>
    </div>
  </div>
</div>


<!--<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-">
        <h3 style="text-align: center;"> Informations Pratiques</h3>-->
        
 <!--<div="box">      
    <div id="box1" style="min-height: px; background-image: url(assets/img/theme/Paris.jpg); background-size: cover; background-position: center top;">
        <a href="/forum/france"> </a>
          <div class="col-md-8">
            <h4><a href="/forum/france">La France</a></h4>
            <p class="text"><a href="/forum/france">L'hexagone est un véritable monument d'histoire, de culture, de terroir, de traditions... qui recèle de secrets insoupçonnés. Vous connaissez votre région comme votre poche ? Vos conseils sont les bienvenus. Au contraire, vous souhaitez en savoir plus avant de débarquer en territoire inconnu ? Posez vos questions.</a></p>
          </div>
          <div class="col-md-1 col-xs-6 text-center pd-counter">
            <a href="/forum/france"><strong>352</strong>
            <small>Messages</small></a>
          </div>
          <div class="col-md-1 col-xs-6 text-center pd-counter">
            <a href="/forum/france"><strong>115</strong>
            <small>Sujets</small></a>
          </div>
      </div>
</div> --> 
         
          <!--<div class="pd-deal"><div class="row"><div class="col-md-2 hidden-xs">
          <a href="/forum/europe"><img src="https://lh3.googleusercontent.com/VuA5e3MmSQtkTgtwS0xQfBdYOHoM-Uao_YRjrwnExQS-svN7qoykFSiheXYWy-ATXFZ-9RuAkGbT0H6DNmh1D3E=s0" class="img-responsive" style="margin: 4px auto;" alt="Forum L'Europe"></a>
          </div>
          <div class="col-md-8">
          <h4><a href="/forum/europe">L'Europe</a></h4>
          <p class="pd-description"><a href="/forum/europe">Ah, le Vieux Continent... un authentique carrefour des cultures uni dans la diversité, et des merveilles à découvrir sans modération. Amis des croisières sur le Danube, amateurs de randonnées dans les fjords, amoureux tombés sous le charme du bassin méditerranéen : les esprits voyageurs se rencontrent sur ce forum.</a></p>
          </div>
          <div class="col-md-1 col-xs-6 text-center pd-counter">
          <a href="/forum/europe"><strong>836</strong>
          <small>Messages</small></a>
          </div>
          <div class="col-md-1 col-xs-6 text-center pd-counter">
          <a href="/forum/europe"><strong>354</strong>
          <small>Sujets</small></a>
          </div>
          </div>
          </div>


          <div class="pd-deal"><div class="row row-no-padding"><div class="col-md-2 hidden-xs">
          <a href="/forum/asie-moyen-orient-oceanie"><img src="https://lh3.googleusercontent.com/FOKTW1jmy0jvKeBAFOeSS55fZKRczR2TXJ7iBlzdr_mNebsWlDq4Jug0DmtRG-fGdVw_J4ViEQmmiXSFzGWKUg=s0" class="img-responsive" style="margin: 4px auto;" alt="Forum L'Asie, Moyen-Orient et Océanie"></a>
          </div>
          <div class="col-md-8">
          <h4><a href="/forum/asie-moyen-orient-oceanie">L'Asie, Moyen-Orient et Océanie</a></h4>
          <p class="pd-description"><a href="/forum/asie-moyen-orient-oceanie">Depuis les premières dynasties d'empereurs chinois, de tsars russes et de sultans indiens, le plus peuplé des continents n'a rien perdu de son charme. Son attrait, l'Asie toute entière la doit à celles qu'on appelle les merveilles d'Orient.</a></p>
          </div>
          <div class="col-md-1 col-xs-6 text-center pd-counter">
          <a href="/forum/asie-moyen-orient-oceanie"><strong>367</strong>
          <small>Messages</small></a>
          </div>
          <div class="col-md-1 col-xs-6 text-center pd-counter">
          <a href="/forum/asie-moyen-orient-oceanie"><strong>145</strong>
          <small>Sujets</small></a>
          </div>
          </div>
          </div>
          -->

        <!--</div>-->
      