#Liste{
    position: relative;
    margin-right: 1500px;
    width: 100px;
    right: 350px;
    top: 100px;
}
#texte {
    position: relative;
    margin-top: 10px;
    width: 20%;
}
#chosesCaches {
    position : absolute;
    width: 40%;
    left:950px;
}
#paysCache {
    position: relative;
    background-color: rgba(8, 8, 109, 0.685);
    color: white;
    border-radius: 15%;
    top : 10px;
    height: 200px;
    width: 250px;
}
#villeCache {
    position: relative;
    background-color: rgba(8, 8, 109, 0.685);
    color: white;
    border-radius: 15%;
    top : 50px;
    height: 200px;
    width: 250px;


}
#lieuxCache {
    position: relative;
    background-color: rgba(8, 8, 109, 0.685);
    color: white;
    border-radius: 15%;
    top : 90px;
    height: 200px;
    width: 250px;


}
/*.paysCache div {
    display: none;
    width:50px;
    height: 100px;
    background-color:rgb(18, 18, 109); 
    position:absolute;
}
.paysCache:hover div {
    display:block;

} */