<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; ; background-size: cover; background-position: center top;"></div>
<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-">

<div class="bg"></div>
<div class="bg2"></div>

<div class="container">
  <div id="left">
    <h1>CryptoCurrencies</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae doloribus nulla dolorum, vitae ducimus tempore quisquam, maxime repellendus ipsam tenetur deleniti, odit quo consequatur deserunt commodi labore culpa repellat.</p>
  </div>
  <div id="right">
    <ul>
      <li> 
        <img src="https://lh3.googleusercontent.com/swvoEkFpcYcUzD-cmI6zbw37QCaDVhuw6G0-nf8EYprYbNkE7_k-ExQzxXSHUpB97afC449aLxG9vSUJpQfg0g=s0" alt="Ti pidr">
        <span>
          <strong>La France</strong>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.   </p>
        </span>
      </li>
      <li> 
        <img src="https://cdn.worldvectorlogo.com/logos/ethos.svg" alt="">
        <span>
          <strong>L'Afrique</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.   </p>
        </span>
      </li>
      <li> 
        <img src="https://cdn.worldvectorlogo.com/logos/iota-1.svg" alt="">
        <span>
          <strong>L'Amérique</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
        </span>
      </li>
    </ul>
  </div>
</div>

