<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <p class="text-lead text-light">Créer une nouvelle ville</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Remplir les champs suivants</small>
            </div>
            <form role="form" (submit)="saveVille()">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-world-2"></i></span>
                  </div>
                  <input class="form-control" (change)="findAllPays()" placeholder="continent" type="text" name="continent" [(ngModel)]="ville.pays.nomContinent">
                  <input class="form-control" placeholder="nom" type="text"name="nom" [(ngModel)]="ville.nomVille">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-bus-front-12"></i></span>
                  </div>
                  <input class="form-control" placeholder="transports" type="text" name="transports" [(ngModel)]="ville.modaliteTransport">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  <input class="form-control" placeholder="habitants" type="number" name="nbHabitants" [(ngModel)]="ville.nbHabitants">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                  </div>
                  <select class=" form-control" name="pays" [(ngModel)]="ville.pays">
                    <option *ngFor="let p of paysDuContinent" [ngValue]="p">
                      {{p.nomPays}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" >Créer une ville</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  