<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/Niagara.jpg); background-size: cover; background-position: center top;">
    <div id="texte" class="col-lg-7 col-md-10">
                 <h1 class="display-2" style="color: rgb(18, 18, 109);">AMERIQUE</h1>
   </div>
   <div id="chosesCaches">
    <div *ngIf="paysCache == true">
      <table id="paysCache">
        <tbody>
          <td><p style="text-align:center">Liste des Pays</p></td>
            <tr *ngFor="let p of paysS">
                <td>{{p.nomPays}}</td>
            </tr>
        </tbody>
       </table>
    </div>
    <div *ngIf="villeCache == true">
      <table id="villeCache">
        <tbody>
          <td><p style="text-align:center">Liste des Villes</p></td>
            <tr *ngFor="let v of villes">
                <td>{{v.nomVille}}</td>
            </tr>
        </tbody>
       </table>
    </div>
    <div *ngIf="lieuxCache == true">
      <table id="lieuxCache">
        <tbody>
          <td><p style="text-align:center">Liste des Lieux</p></td>
            <tr *ngFor="let l of lieux">
                <td>{{l.nomLieu}}</td>
            </tr>
        </tbody>
       </table>
    </div>
  </div>
    <div id="Liste" style="text-align:center"> 
     <div id="Pays" style="text-align:center;">
       <button (click)="showDataPays()" class="btn btn-sm btn-default" style="width: 100px;height: 30px">Pays</button>
       <br>
       <br>
     </div>
     <div id="Ville" style="text-align:center;">
      <button (click)="showDataVille()" class="btn btn-sm btn-default" style="width: 100px;height: 30px">Ville</button>
       <br>
       <br>
     </div>
     <div id="Lieux" style="text-align:center;">
      <button (click)="showDataLieux()" class="btn btn-sm btn-default" style="width: 100px;height: 30px">Lieux</button>
       <br>
       <br>
    </div>
   </div>
   </div>
           <!--<div class="fond" style="background-color: azure; height: 700px; width: 100%; position: center;"> -->
   <div id="premier" class="col-xl-35 order-xl-1" style="width: 100%;position: center;">
       <div class="card bg-secondary shadow">
         <div id="Carreblanc" class="card-header bg-white border-0"> 
            <hr class="my-4" />
          <div class="guides" style="text-align:center; color: rgb(18, 18, 109);">
            <p> Envie d'en savoir plus sur votre future destination ?</p>
            <p>Retrouvez nos guides juste ici</p>
            <hr class="my-4" /> 
          </div>
