<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<div class="container-fluid head"></div>
<body class="body-dashboard" style="background-position: center 110px; background-color: rgb(240, 240, 240) !important">
  <!--<section class="section-1">-->
    <div class="body-dashboard" >
      <div class="container-fluid">
        <div class="destination-du-mois">
          <li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 444px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="-1" role="option" aria-describedby="slick-slide00">
            <img class="image-london-dashboard" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/slider_without_pub/public/media/destination/slider/descktop/500px_55425108.jpg?itok=B3MipEQ5" alt="Big Ben"/>
            <a href=""><div class="text-presentation-destination-du-mois" style="text-align: center; color: aliceblue;">
              <h2 class="nom-destination">
                <strong id="big-text">NOTRE DESTINATION DU JOUR</strong>
              </h2>
              <span id="big-bigText">LONDON</span>
              <br>
              <!--<a href="" style="text-align: center;">voir la destination</a>-->
            </div></a>
          </li>
        </div>
        <div class="destination-preferee">
          <li class="slick-slide2 slick-current2 slick-active2" data-slick-index="1" aria-hidden="false" style="width: 444px; position: ansolute; left: 0px; top: 0px; z-index: 999; opacity: 1;">
            <img class="image-islande-dashboard" src="assets/img/theme/islande.jpg" alt="paysage islande"/>
            <a href=""><div class="text-destination-preferee" style="text-align: center; color: rgb(186, 186, 187);">
              <h2 class="nom-destination">
                <strong id="big-text2">LA DESTINATION PREFERÉE</strong>
              </h2>
              <span id="big-bigText2">KIRKJUFELL</span>
              <br>
              <!--<a href="" style="text-align: center;">voir la destination</a>-->
            </div></a>
          </li>
        </div>
      </div>
      <div class="div-experiences">
        <h2 style="text-align: center;">
          <p id="titre-dernieres-experiences">les dernières experiences publiées</p>
        </h2>
        <div class="content-experiences">
          <table>
            <tbody>
                <tr>
                    <td>
                      <img id="image-velo" src="assets/img/theme/velo.jpg" alt="velo amsterdam">
                      <!--<span id="note-velo" style="text-align: end;">Faire du velo à amsterdam !</span>-->
                    </td>
                    <td>
                      <img id="image-kayak" src="assets/img/theme/kayak.jpg" alt="kayak niagara">
                    </td>
                    <td>
                      <img id="image-hunan" src="assets/img/theme/hunan.jpg" alt="hunan">
                    </td>
                </tr>
                <tr>
                  <td>
                    <img id="image-lavande" src="assets/img/theme/lavande.jpg" alt="lavande de montelimar">
                    <!--<span id="note-velo" style="text-align: end;">Faire du velo à amsterdam !</span>-->
                  </td>
                  <td>
                    <img id="image-savane" src="assets/img/theme/savane.jpg" alt="la savane">
                  </td>
                  <td>
                    <img id="image-fuji" src="assets/img/theme/fuji.jpg" alt="le magnifique mont fuji">
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="div-statistiques">
        <h2 style="text-align: center;">
          <p id="titre-statistiques">les statistiques des voyageurs</p>
        </h2>
      </div>
      <div class="div-guides">
        <h2 style="text-align: center;">
          <p id="titre-guides">le top des guides pour assurer un voyage reussi !</p>
        </h2>
      </div>
      <div class="div-newsletter">
        <h2 style="text-align: center;">
          <p id="titre-newsletter">Abonne toi à la newsletter !</p>
        </h2>
      </div>
    </div>
 <!--</section>-->
  <!--<section class="section-2">
    <div class="top-destinations">
      <h1>
        Destinations les plus visitées
      </h1>
      <ul class="liste-destinations-les-plus-visitées">
        <li>
          <a href="/destinations/Europe/France">
            <img class="image-france-lavande" src="	https://www.lonelyplanet.fr/sites/lonelyplanet/fil…2549_subscription_monthly_xxl_0.jpg?itok=9jwjwgaV" alt="champs de lavande"/>
            <div class="image-france-lavande">
              <span class="image-france-lavande">
                "1"
              </span>
              <p>FRANCE</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>-->
</body>
</html>


<!--<div class="LP_homePage">
  <div id="habillage_container"></div>
      <section class="LP_blocIntro container">
      <div class="LP_blocBg no_hab">
          <ul class="slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable">
              <div class="slick-track" style="opacity: 1; width: 444px;" role="listbox">
                <li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 444px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="-1" role="option" aria-describedby="slick-slide00">
                  <img class="img-responsive visible-lg img-copyrights" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/slider_without_pub/public/media/destination/slider/descktop/500px_55425108.jpg?itok=B3MipEQ5" alt="Carte " title="Big Ben à la tombée de la nuit, Londres " data-copyright="Mirek Osmera/500px " data-copyright-url="">                                            <img class="img-responsive hidden-lg img-copyrights" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/slider_with_pub/public/media/destination/slider/mobile/500px_55425108_1.jpg?itok=O2x3kWGW" alt="Carte " title="Big Ben à la tombée de la nuit, Londres " data-copyright="Mirek Osmera/500px " data-copyright-url="">                            
                  <div class="LP_textIntro">
                <h2 class="dest-name-label"><strong>NOTRE DESTINATION DU JOUR&nbsp;</strong></h2>

                <span class="bigText">Angleterre </span>
                <a href="/destinations/europe/angleterre" class="LP_lineFormBtnBlArr LP_linkListCities" tabindex="0">Voir la destination</a>
              </div>
            </li></div></div>
          </ul>
                </div>
    </section>
      

  <section class="LP_pushFowardContainer container">
    <h1>Nos derniers articles</h1>

    <div class="LP_pushFoward">
      <div class="LP_pushALaUne LP_mainPushALaUne">
        <a href="/article/birmingham-petit-guide-pour-les-fans-de-peaky-blinders">
          <img class="img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/manual_crop_three_columns/public/peaky-blinders-birmingham.jpg?itok=W2bBhn6O" alt="Carte " title="" data-copyright="" data-copyright-url="">          <div class="LP_pushContent">
          <span class="LP_categorySpan">Culture et voyage</span>

            <h2>Birmingham : petit guide pour les fans de Peaky Blinders </h2>
          </div>
        </a>
      </div>
      <div class="LP_pushALaUne LP_pushALaUneTwoThird">
        <a href="/article/voyage-en-belgique-8-visites-incontournables">
          <img class="img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/manual_crop_two_columns/public/istock-685886450.jpg?itok=D0rzfq7M" alt="Carte " title="" data-copyright="" data-copyright-url="">          <div class="LP_pushContent">
          <span class="LP_categorySpan">Idées de voyage</span>

            <h2>Voyage en Belgique : 8 visites incontournables </h2>
          </div>
        </a>
      </div>
              <div class="LP_pushALaUne LP_pushALaUneThird LP_pubBloc">
          <div class="LP_zonePub">
            <div id="div-gpt-ad-mpu-0">
  <script>
    googletag.cmd.push(function() { googletag.display("div-gpt-ad-mpu-0"); });
  </script>
</div>






          </div>
        </div>
                    <div class="LP_pushALaUne LP_pushALaUneThird">
          <a href="/article/pourquoi-jai-decide-de-ne-plus-jamais-prendre-lavion">

            <img class="img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/manual_crop_one_column/public/lp_view.jpg?itok=9ezD_T3f" alt="Carte " title="" data-copyright="" data-copyright-url="">            <div class="LP_pushContent">
            <span class="LP_categorySpan">Voyage responsable</span>

              <h2>Pourquoi j’ai décidé de ne plus jamais prendre l’avion</h2>
            </div>
          </a>
        </div>
              <div class="LP_pushALaUne LP_pushALaUneThird">
          <a href="/article/unesco-trail-lecosse-en-13-etapes-classees">

            <img class="img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/manual_crop_one_column/public/istock-1272001663.jpg?itok=qGDC0Ha1" alt="Carte " title="" data-copyright="" data-copyright-url="">            <div class="LP_pushContent">
            <span class="LP_categorySpan">Idées de voyage</span>

              <h2>Unesco Trail : l’Ecosse en 13 étapes classées</h2>
            </div>
          </a>
        </div>
              <div class="LP_pushALaUne LP_pushALaUneThird">
          <a href="/article/redecouvrir-la-france-lesprit-libre">

            <img class="img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/manual_crop_one_column/public/aiglexlonely_edition_4.jpg?itok=kUXq_fIa" alt="Carte " title="" data-copyright="" data-copyright-url="">            <div class="LP_pushContent">
            <span class="LP_categorySpan">Voyage responsable</span>

              <h2>Redécouvrir la France, l'esprit libre ! </h2>
            </div>
          </a>
        </div>
          </div>
  </section>
  <div class="LP_separator"></div>
      <section class="LP_AgendaEvent container">
        <div class="LP_listEvent">
            <h1>Un jour, un lieu</h1>
            <div class="LP_dateEvent">
                <strong>10 juin</strong>
            </div>
            <div class="LP_detailsEvent">
                <a href="/place-be/crapahuter-dans-le-yosemite">
                                      <img class="img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/10_4.jpg" alt="Carte " title="" data-copyright="" data-copyright-url="">                                      <div class="LP_txtEvent">
                                              <h2>USA</h2>
                        <p>L’eau de la fonte des neiges alimente les cascades, et la randonnée du Half Dome est possible</p>
                    </div>
                </a>
            </div>
            <div class="LP_seeEvent">
                <a href="/place-be/crapahuter-dans-le-yosemite" class="LP_lineFormBtnBlArr">Voir l'info du jour</a>
            </div>
        </div>
        <div class="LP_separator"></div>
    </section>
    <section class="LP_destinationHP container">
    <h1>Destinations les plus visitées</h1>
    <ul class="LP_listTopDestinations">
                      <li>
          <a href="/destinations/france">
            <img class="img-responsive img-copyrights" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/homepage_destination/public/media/destination/slider/mobile/fotolia_123932549_subscription_monthly_xxl_0.jpg?itok=9jwjwgaV" alt="Carte " title="Champs de lavande et Provence, France " data-copyright="Anton Gvozdikov - Fotolia.com " data-copyright-url="">            <div class="LP_txtDestination">
              <span class="LP_numCustom">1</span>

              <p>France</p>
            </div>
          </a>
        </li>
                                <li>
          <a href="/destinations/europe/italie/pouilles">
            <img class="img-responsive img-copyrights" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/homepage_destination/public/media/destination/slider/descktop/500px_109890039.jpg?itok=NYjWbwfl" alt="Carte " title="Polignano a Mare, Pouilles, Italie" data-copyright="Harald Lenzeder / 500px " data-copyright-url="">            <div class="LP_txtDestination">
              <span class="LP_numCustom">2</span>

              <p>Pouilles</p>
            </div>
          </a>
        </li>
                              <li class="hidden-xs">
              <div class="LP_pubBloc">
                <div class="LP_zonePub">-->
<!--                  <script type="text/plain" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" class="optanon-category-2"></script>-->
                  <!-- responsive-ads-lp -->
                  <!--<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0259264119466811" data-ad-slot="2362312886" data-ad-format="rectangle"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </li>
                                          <li>
          <a href="/destinations/europe/espagne/majorque">
            <img class="img-responsive img-copyrights" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/homepage_destination/public/media/destination/slider/descktop/majorque_1980.jpg?itok=3LpdXE3f" alt="Carte " title="Majorque, Espagne " data-copyright="el lobo - Fotolia.com" data-copyright-url="">            <div class="LP_txtDestination">
              <span class="LP_numCustom">3</span>

              <p>Majorque</p>
            </div>
          </a>
        </li>
                                <li>
          <a href="/destinations/amerique/costa-rica">
            <img class="img-responsive img-copyrights" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/homepage_destination/public/media/destination/slider/descktop/gettyrf_578363143.jpg?itok=74rQWlmv" alt="Carte " title="Palm fringed beach, Drakes Bay, péninsule d'Osa, Costa Rica " data-copyright="Matteo Colombo / Getty Images " data-copyright-url="">            <div class="LP_txtDestination">
              <span class="LP_numCustom">4</span>

              <p>Costa Rica</p>
            </div>
          </a>
        </li>
                                <li>
          <a href="/destinations/europe/malte">
            <img class="img-responsive img-copyrights" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/styles/homepage_destination/public/media/destination/slider/descktop/500px_97183999.jpg?itok=3sC9KXvk" alt="Carte " title="San Ġiljan, Malte" data-copyright="Andrey Omelyanchuk / 500px " data-copyright-url="">            <div class="LP_txtDestination">
              <span class="LP_numCustom">5</span>

              <p>Malte</p>
            </div>
          </a>
        </li>
                    </ul>

    
          <div class="LP_pubBloc LP_pubBlocBtm">
        <div class="LP_zonePub">
          
<div id="div-gpt-ad-banner-0">
  <script>
    googletag.cmd.push(function() { googletag.display("div-gpt-ad-banner-0"); });
  </script>
</div>

        </div>
      </div>
        <div id="div-gpt-ad-banner-0">
      <script>
        googletag.cmd.push(function() { googletag.display("div-gpt-ad-banner-0"); });
      </script>
    </div>
  </section>

  <div class="container pub-separator">
    <div class="LP_separator"></div>
  </div>

    <section class="LP_travelGuide container" id="LP_travelGuide">
    

    <div class="LP_travelGuideInner">
      <div class="col-xs-12 visible-xs">
        <h1>Guide de voyage </h1>
      </div>
      <div class="col-xs-12 col-sm-6 LP_colImg">
                  <img class="secondry img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/media/books/9782816190601.jpg" alt="Guide de voyage">
                  <img class="primary img-responsive" src="https://www.lonelyplanet.fr/sites/lonelyplanet/files/media/books/9782816171259.jpg" alt="Guide de voyage">
              </div>
      <div class="col-xs-12 col-sm-6 hidden-xs">
        <h1>Guide de voyage </h1>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>Découvrez l'intégralité de la collection Lonely Planet et trouvez le guide qu'il vous faut pour vous accompagner dans vos voyages et vous inspirer !</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6 LP_linkToSee">
        <a href="/catalogue" class="LP_lineFormBtnBlArr LP_lineFormBtnBlArrMobile">Voir tous nos guides de voyage</a>
      </div>
    </div>
    <div class="LP_separator"></div>
  </section>
    <section class="LP_newsletter container" id="LP_newsletter">
      <div class="LP_newsletter_inner">
        <h1>Inscrivez-vous à notre newsletter</h1>
        <div class="LP_newsletter_text">
        <span>
          Retrouvez le meilleur du voyage et de Lonely Planet une fois par semaine dans votre boîte mail        </span>
        </div>
        <div class="LP_linkToSee">
          <a href="/newsletter" class="LP_lineFormBtnBlArr LP_lineFormBtnBlArrMobile">Je m'inscris</a>
        </div>
      </div>

    <div class="LP_separator"></div>
  </section>  <section class="LP_forumDiscussion container" id="forum_block">
  <h1>Forum </h1>
  <strong>40627 sujets, 123123 messages</strong>

  <ul class="LP_tabsforumDiscussion hidden-xs hidden-lg">
    <li class="active"></li>
    <li></li>
  </ul>

  <div class="tab-content">
    <div id="tab-1" class="tab-pane fade active in LP_colForum LP_recentDiscuss">
      <h2><a data-toggle="tab" href="#tab-1" aria-expanded="true">Discussions récentes</a></h2>
              <div class="LP_lineMsg">
          <div class="LP_dateMsg visible-xs">
            <p></p><p>Il y a 38 min 45 sec</p>
          </div>
          <div class="LP_editor">
            <a href="/profile/johnalam">
              <figure>
                                  <span><img title="Portrait d\'anonyme" alt="Portrait d\'anonyme" src="/sites/lonelyplanet/themes/custom/lonelyplanet/images/user.jpg"></span>
                                <strong>par</strong>
                <figcaption>johnalam</figcaption>
              </figure>
            </a>
          </div>
          <div class="LP_detailsMsg">
            <div class="LP_dateMsg hidden-xs">
              <p></p><p>Il y a 38 min 45 sec</p>
            </div>
              <a class="forum_title" href="/forums/coree-du-sud/ferry-entre-busan-coree-du-sud-et-tsushima-japon">Ferry entre BUSAN (Corée du Sud) et TSUSHIMA (Japon)              </a>
                        <p>Capricorn has some Sun Signs that get along better with than others. However, this do not mean that if a Sun Sign match...</p>
          </div>
        </div>
              <div class="LP_lineMsg">
          <div class="LP_dateMsg visible-xs">
            <p></p><p>Il y a 4 heures 56 min 4 sec</p>
          </div>
          <div class="LP_editor">
            <a href="/profile/Hugh%20Mcgee">
              <figure>
                                  <span><img title="Portrait d\'anonyme" alt="Portrait d\'anonyme" src="/sites/lonelyplanet/themes/custom/lonelyplanet/images/user.jpg"></span>
                                <strong>par</strong>
                <figcaption>Hugh Mcgee</figcaption>
              </figure>
            </a>
          </div>
          <div class="LP_detailsMsg">
            <div class="LP_dateMsg hidden-xs">
              <p></p><p>Il y a 4 heures 56 min 4 sec</p>
            </div>
              <a class="forum_title" href="/forums/myanmar/application-apk-mod-mobile">application apk mod mobile.              </a>
                        <p>Merci pour les informations utiles que vous partagez, si vous voulez regarder des films à tout moment, n'importe...</p>
          </div>
        </div>
              <div class="LP_lineMsg">
          <div class="LP_dateMsg visible-xs">
            <p></p><p>Il y a 1 jour 16 min 8 sec</p>
          </div>
          <div class="LP_editor">
            <a href="/profile/debraplm51">
              <figure>
                                  <span><img title="Portrait d\'anonyme" alt="Portrait d\'anonyme" src="/sites/lonelyplanet/themes/custom/lonelyplanet/images/user.jpg"></span>
                                <strong>par</strong>
                <figcaption>debraplm51</figcaption>
              </figure>
            </a>
          </div>
          <div class="LP_detailsMsg">
            <div class="LP_dateMsg hidden-xs">
              <p></p><p>Il y a 1 jour 16 min 8 sec</p>
            </div>
              <a class="forum_title" href="/forums/recherche-de-coequipier/quel-est-le-meilleur-endroit-pour-sentrainer">Quel est le meilleur endroit pour s'entraîner ?              </a>
                        <p>i love india there are many destination to visitmyfiosgateway.commobdro&nbsp;</p>
          </div>
        </div>
          </div>
    <div id="tab-2" class="tab-pane fade LP_colForum LP_popularDiscuss hidden-xs">
        <h2><a data-toggle="tab" href="#tab-2" aria-expanded="false">Discussions populaires</a></h2>
              <div class="LP_lineMsg">
          <div class="LP_editor">
            <a href="/profile/kriss">
              <figure>
                                  <span><img title="Portrait d\'anonyme" alt="Portrait d\'anonyme" src="/sites/lonelyplanet/themes/custom/lonelyplanet/images/user.jpg"></span>
                                <strong>par</strong>
                <figcaption>kriss</figcaption>
              </figure>
            </a>
          </div>
          <div class="LP_detailsMsg">
            <div class="LP_dateMsg">
								<span>
									<span class="icons-discuss"></span>
									<strong>1280 </strong>
								</span>
              <p>Le mer 20 aoû 2008 à 16:59</p>
            </div>
              <a class="forum_title" href="/forums/compagnies-aeriennes/opodo-des-escros-suite">Opodo, des escros suite...              </a>
                        <p>Bonjour à tous, Pour continuer le sujet sur ce fournisseur de voyages voici ma mésaventure; J'ai réservé il...</p>
          </div>
        </div>
              <div class="LP_lineMsg">
          <div class="LP_editor">
            <a href="/profile/Arnaque%20GoVoyage">
              <figure>
                                  <span><img title="Portrait d\'anonyme" alt="Portrait d\'anonyme" src="/sites/lonelyplanet/themes/custom/lonelyplanet/images/user.jpg"></span>
                                <strong>par</strong>
                <figcaption>Arnaque GoVoyage</figcaption>
              </figure>
            </a>
          </div>
          <div class="LP_detailsMsg">
            <div class="LP_dateMsg">
								<span>
									<span class="icons-discuss"></span>
									<strong>436 </strong>
								</span>
              <p>Le ven 09 aoû 2013 à 17:28</p>
            </div>
              <a class="forum_title" href="/forums/compagnies-aeriennes/arnaque-govoyage">Arnaque GoVoyage              </a>
                        <p>&nbsp; Bonjour, &nbsp; Je me permets de vous relater ma dernière réservation avec GoVoyage pour que d'autres...</p>
          </div>
        </div>
              <div class="LP_lineMsg">
          <div class="LP_editor">
            <a href="/profile/webmaster">
              <figure>
                                  <span><img title="Portrait d\'anonyme" alt="Portrait d\'anonyme" src="/sites/lonelyplanet/themes/custom/lonelyplanet/images/user.jpg"></span>
                                <strong>par</strong>
                <figcaption>webmaster</figcaption>
              </figure>
            </a>
          </div>
          <div class="LP_detailsMsg">
            <div class="LP_dateMsg">
								<span>
									<span class="icons-discuss"></span>
									<strong>347 </strong>
								</span>
              <p>Le mar 01 avr 2014 à 14:29</p>
            </div>
              <a class="forum_title" href="/forums/sri-lanka/chauffeurs-sri-lanka-vos-contacts-ici">Chauffeurs Sri Lanka - Vos contacts ici              </a>
                        <p>Bonjour Utilisez ce sujet pour toutes vos adresses de chauffeurs au Sri Lanka. Les sujets spécialement ouverts pour...</p>
          </div>
        </div>
          </div>
  </div>
  <div class="clearfix"></div>
  <div class="LP_linkToSee">
          <a href="/forum" class="Lp_readMore">
                VOUS AVEZ UNE QUESTION ? LA COMMUNAUTÉ LONELY PLANET PEUT VOUS AIDER...</a>
  </div>
  <div class="LP_separator"></div>
</section>
      <div class="LP_pub_container container">      <div class="LP_pubBlocTop container-style">-->
        
<!--<script type="text/plain" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" class="optanon-category-2"></script>-->
<!-- responsive-ads-lp -->
<!--<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0259264119466811" data-ad-slot="2362312886" data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>


      </div>    </div>
  </div>-->



<!--<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="header-body">
  <div class="container-fluid">-->
    
      <!-- Card stats : commenté de la ligne 5 à la ligne 90 -->
      <!--<div class="row">-->
        <!--<div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
               <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>-->
        <!--<div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>-->
        <!--<div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>-->
        <!--<div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>-->
      <!--</div>
    </div>
  </div>
</div>-->
<!--<div class="container-fluid mt--7">
  <div class="row">-->
    <!--<div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">-->
          <!-- Chart -->
          <!--<div class="chart">-->
            <!-- Chart wrapper -->
            <!--<canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>-->
       <!-- </div>
      </div>
    </div>-->
    <!--<div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">-->
          <!-- Chart -->
          <!--<div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!--<div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Page visits</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
           Projects table 
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Page name</th>
                <th scope="col">Visitors</th>
                <th scope="col">Unique users</th>
                <th scope="col">Bounce rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  /argon/
                </th>
                <td>
                  4,569
                </td>
                <td>
                  340
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/index.html
                </th>
                <td>
                  3,985
                </td>
                <td>
                  319
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/charts.html
                </th>
                <td>
                  3,513
                </td>
                <td>
                  294
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/tables.html
                </th>
                <td>
                  2,050
                </td>
                <td>
                  147
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/profile.html
                </th>
                <td>
                  1,795
                </td>
                <td>
                  190
                </td>
                <td>
                  <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Social traffic</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
           Projects table 
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
                <th scope="col">Visitors</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  1,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  5,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Google
                </th>
                <td>
                  4,807
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Instagram
                </th>
                <td>
                  3,678
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  twitter
                </th>
                <td>
                  2,645
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>-->
  
