.container-fluid 
{
    background-color: cornflowerblue;
}

.body-dashboard 
{
    position: relative;
    background: linear-gradient(to bottom right,rgb(0, 98, 211), pink);
    padding-bottom: 100%; //!important;
    padding-top: 8rem; //!important;
}

.destination-du-mois
{
    position: relative;
    width: 750px;
    border-style: double;
    padding-left: 450px;
}