#une {
    position :absolute;
    width: 30%;
    left: 150px;
        
    
    }
    #deux {
    position :absolute;
    width: 30%;
    left : 650px;
    }
    
    #trois {
    position :absolute;
    width: 30%;
    left : 1050px;
    }

    #quatre {
        position :absolute;
        width: 30%;
        left : 1550px;
        }