<div class="card-body" style="height: 100px;">
    <h2 style="color:aliceblue">{{ville.nomVille}}</h2>
 </div>
<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
           <!-- Info pratiques  -->
    <div class="card-body" style="height: 200px;">
    <h3 style="text-align: center;"> Informations Pratiques</h3>
    <br><br>
    <div id="une"> Modalités de transports : {{ville.modaliteTransport}} <br> <br>Nombres d'habitants : {{ville. nbHabitants}}<br><br> </div>
    <div id="deux"> Langues parlées : {{pays.langue}} <br> <br>Securité : {{pays.securite}}<br><br> </div>
    <div id="trois"> Besoin d'un visa ? : {{pays.visa}} <br><br> Sens de conduite : {{pays.conduiteSens}}</div>
        <div id="quatre"> Numéros utiles : {{pays.numeroUtile}}
            <ul>
            <li>Police : </li>
            <li>Pompiers : </li>
         </ul> </div>
    </div>
   <hr class="my-4" /> 
    <!-- Liste Lieux  -->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center">Les Lieux</h3>
      <ul>
        <li *ngFor="let l of ville.lieux"><a (click)="redirectionLieu(l)" href="/#lieuG">{{l.nom}}</a></li>
      </ul>
      </div>
     <hr class="my-4" />
    <!--Avis-->
    <div class="card-body" style="height: 100px;">
      <h3 style="text-align: center">Les avis</h3>
      </div>
     <hr class="my-4" /> 
    <!--Lien Newsletter-->
    <div class="card-body" style="height: 80px;">
      <h3 style="text-align: center">Psssiit le meilleur des voyages dans votre boite mail c'est juste<a href="/#"> ici</a></h3>
      </div>
     <hr class="my-4" /> 
     </div>
     </div>
     </div>
