<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/Guide.jpg); background-size: cover; background-position: center top;">
</div>
<div class="card-body">
    <h2 style="color:aliceblue">Les lieux</h2>
</div>
<div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 " style="text-align: center;">Les restaurants</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped align-items-center text-center">
          <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Nombre d'étoiles</th>
                <th>Spécialité</th>
                <th>Accès handicapé</th>
                <th>Carte</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of restaurants">
                <td>{{r.nom}}</td>
                <td>{{r.ville.nomVille}}</td>
                <td>{{r.nbEtoiles}}</td>
                <td>{{r.specialite}}</td>
                <td>{{r.accesHandicapes}}</td>
                <td><img src="data:image/jpeg;base64,{{r.carte}}" width="100"></td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  <br><br>
<div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 " style="text-align: center;">Les hotels</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped align-items-center text-center">
          <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Nombre d'étoiles</th>
                <th>Propreté</th>
                <th>prix d'une Nuit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let h of hotels">
                <td>{{h.nom}}</td>
                <td>{{h.ville.nomVille}}</td>
                <td>{{h.nbEtoiles}}</td>
                <td>{{h.proprete}}</td>
                <td>{{h.prixNuit}}</td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br>
<div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 " style="text-align: center;">Les musées</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped align-items-center text-center">
          <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Prix de l'entrée</th>
                <th>Accès handicapé</th>
                <th>Style</th>
                <th>Horaires</th>
                <th>Guide Audio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mu of musees">
                <td>{{mu.nom}}</td>
                <td>{{mu.ville.nomVille}}</td>
                <td>{{mu.entree}}</td>
                <td>{{mu.accesHandicapes}}</td>
                <td>{{mu.style}}</td>
                <td>{{mu.horaires}}</td>
                <td>{{mu.guideAudio}}</td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br>
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 " style="text-align: center;">Les monuments</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped align-items-center text-center">
          <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Date de construction</th>
                <th>Horaires</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mo of monuments">
                <td>{{mo.nom}}</td>
                <td>{{mo.ville.nomVille}}</td>
                <td>{{mo.dateConstruction | date:"dd/MM/yyyy"}}</td>
                <td>{{mo.horaires}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<hr class="my-4" /> 
    <!--Lien Newsletter-->
    <div class="card-body" style="height: 80px;">
      <h3 style="text-align: center">Psssiit le meilleur des voyages dans votre boite mail c'est juste<a href="/#"> ici</a></h3>
    </div>
     <hr class="my-4" /> 
