<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 700px; background-image: url(assets/img/theme/Guide.jpg); background-size: cover; background-position: center top;">
</div>
<div class="card-body" style="height: 100px;">
    <h2 style="color:aliceblue">Les lieux</h2>
 </div>
<div class="col-xl-35 order-xl-1" style="width: 100%;">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
           <!-- Les lieux  -->
    <div class="card-body2" style="height: 1700px;">
    <div id="lieux" style="height: 1550px;">
    <div id ="une" style="height: 400px;" >
        <h3 style="text-align: center;">Les restaurants</h3>
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Ville</td>
                <td>Nombre d'étoiles</td>
                <td>Spécialité</td>
                <td>Accès handicapé</td>
                <td>Carte</td>
            </tr>
        </thead>
            <tbody>
             <tr *ngFor="let r of restaurants">
                 <td>{{r.nom}}</td>
                 <td>{{r.ville.nomVille}}</td>
                 <td>{{r.nbEtoiles}}</td>
                 <td>{{r.specialite}}</td>
                 <td>{{r.accesHandicapes}}</td>
                 <td><img src="data:image/jpeg;base64,{{r.carte}}" width="100"></td>
            </tr>
            </tbody>
        </table>
   
       <!-- <label cLabel style="text-align: center;">Les restaurants</label>
        <select name="restaurants" [(ngModel)]="lieu.restaurant">
            <option *ngFor="let r of restaurants" [ngValue]="r">{{r.nom}}</option>
        </select> -->
    </div>
    <div id="deux" style="height: 400px;">
        <h3 style="text-align: center;">Les hotels</h3>
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Ville</td>
                <td>Nombre d'étoiles</td>
                <td>Propreté</td>
                <td>prix d'une Nuit</td>
            </tr>
        </thead>
            <tbody>
             <tr *ngFor="let h of hotels">
                 <td>{{h.nom}}</td>
                 <td>{{h.ville.nomVille}}</td>
                 <td>{{h.nbEtoiles}}</td>
                 <td>{{h.proprete}}</td>
                 <td>{{h.prixNuit}}</td>
            </tr>
            </tbody>
        </table>
                
      <!--  <label cLabel style="text-align: center;">Les hotels</label>
        <select name="hotels" [(ngModel)]="lieu.hotel">
            <option *ngFor="let h of hotels" [ngValue]="h">{{h.nom}}</option>
        </select> -->
    </div>
    <div id="trois" style="height: 400px;">
        <h3 style="text-align: center;">Les musées</h3>
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Ville</td>
                <td>Prix de l'entrée</td>
                <td>Accès handicapé</td>
                <td>Style</td>
                <td>Horaires</td>
                <td>Guide Audio</td>
            </tr>
        </thead>
            <tbody>
             <tr *ngFor="let mu of musees">
                 <td>{{mu.nom}}</td>
                 <td>{{mu.ville.nomVille}}</td>
                 <td>{{mu.entree}}</td>
                 <td>{{mu.accesHandicapes}}</td>
                 <td>{{mu.style}}</td>
                 <td>{{mu.horaires}}</td>
                 <td>{{mu.guideAudio}}</td>
            </tr>
            </tbody>
        </table>
        
      <!--  <label cLabel style="text-align: center;">Les musées</label>
        <select name="musees" [(ngModel)]="lieu.musee">
            <option *ngFor="let m of musees" [ngValue]="m">{{m.nom}}</option>
        </select> -->
    </div>
    <div id="quatre" style="height: 400px;">

        <h3 style="text-align: center;">Les monuments</h3>
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Ville</td>
                <td>Date de construction</td>
                <td>Horaires</td>
            </tr>
        </thead>
            <tbody>
             <tr *ngFor="let mo of monuments">
                 <td>{{mo.nom}}</td>
                 <td>{{mo.ville.nomVille}}</td>
                 <td>{{mo.dateConstruction | date:"dd/MM/yyyy"}}</td>
                 <td>{{mo.horaires}}</td>
            </tr>
            </tbody>
        </table>
       
      <!--  <label cLabel style="text-align: center;">Les monuments</label>
        <select name="monuments" [(ngModel)]="lieu.monument">
            <option *ngFor="let mo of monuments" [ngValue]="mo">{{mo.nom}}</option>
        </select> -->
    </div>
</div>
<hr class="my-4" /> 
    <!--Lien Newsletter-->
    <div class="card-body" style="height: 80px;">
      <h3 style="text-align: center">Psssiit le meilleur des voyages dans votre boite mail c'est juste<a href="/#"> ici</a></h3>
      </div>
     <hr class="my-4" /> 
     </div>
     </div>
     </div>
